* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  padding: 1em;
}
h1 {
  padding: .5em;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  height: 100vh;
}

.header {
  height: 3em;
  width: 100%;
  background-color: black;
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;

  p {
    flex-grow: 1;
  }

  .navbar {
    flex-grow: 4;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;

    li {
      padding: 1em;
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 20;
  background-color: #f5f5f5;
  min-width: 300px;

  .content {
    .post {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      p {
        flex-grow: 1;
      }
    }
  }
  aside {
    background-color: #565254;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .aside1{
      flex-grow: 1;
    }

    .aside2{
      flex-grow: 2;
      padding:0;
    }

    .sidebar-item {
      height: 60px;
      min-width: 5em;
      background-color: #565254;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.active-item {
        background-color: #7a7d7d;
      }

      &:hover {
        background-color: #d0cfcf;
      }
    }
  }
}

.footer {
  height: 3em;
  width: 100%;
  background-color: black;
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

